.blog-home{
    background-image: url(../../assests/home/bg-decoration.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: var(--mainColor);  
}

.blog-home .card-img{
    height: 16rem !important;
}

.blog-home .card-title h3 .blog-title{
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--secondColor);
}
.blog-home .card-title p .blog-desc{
    font-size: 1rem;
    font-weight: 400;
    color: var(--secondColor);
}

@media screen and (max-width: 390px) {
    .blog-home .view-blogs a{
        width: 60%;
    }   
}

