.about-home{
    background-image: url(../../assests/home/bg-decoration.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: var(--mainColor);  
}

.about-home h1 .custom-head{
    font-size: 2.25rem;
    font-weight: 900;  
}


.about-home p{
    font-weight: 600;
    color: var(--navyColor);
    text-align: justify !important;
}

.about-home img{
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 392px) {
    .about-home .about-btns {
        flex-wrap: wrap;
    }
    .about-home .about-btns button{
        width: 50%;
        margin: 4px 0;
    }
}



