footer {
    position: relative;
    clear: both;
    z-index: 10;
    color: #b0b0b0;
    font-size: 14px;
    line-height: 1.75em;
}

footer .footer-logo img{
    width: 250px !important;
    height: 150px !important;
}

footer .footer-widgets {
    position: relative;
    clear: both;
    background-color: var(--secondColor);
    padding-top: 60px;
    padding-bottom: 60px;
    background-image: url(../../assests/dotted-map.png);
    background-size: contain;
}
footer .empty-s {
    height: 1.875rem;
}

footer a{
    color: #b0b0b0;
    font-size: 18px;
    text-decoration: none;
    transition: all .3s;
}

footer a:hover{
    transform: scale(1.15);
    color: var(--mainColor);
    font-weight: 600;
}

footer .footer-widgets .widget h5 {
    color: var(--mainColor);
    margin: 0px 0 20px;
    font-size: 1.35rem;
    font-weight: 600;
    line-height: 20px;
}
footer .footer-widgets .widget p{
    font-size: 18px;
    margin-bottom: 10px;
    text-align: justify;
}




















/* background: #222; */


/* footer .footer-copyright {
    position: relative;
    clear: both;
    background: #1a1a1a;
    padding-top: 30px;
    padding-bottom: 30px;
}
footer .footer-copyright .footer-social a {
    margin: 0 10px;
    color: #444;
    transition: .3s;
    background-color: transparent;
}
.footer-social a>i {
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    color: #fff;
    width: 1.2em;
    text-align: center;
    transition: all 0.3s;
}
footer .footer-copyright .footer-social a:hover i{
    color: var(--main-col);
}
footer .footer-copyright .copyright a {
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: .5px;
    transition: all 0.3s;
}
footer .footer-copyright .copyright a:hover {
    color: var(--main-col);
}
@media screen and (max-width:768px) {
    footer .footer-copyright .col-md-6 {
        text-align: center;
    }
} */