.blog-details{ 
    color: var(--blogDetailsColor) !important;
}

.blog-details .blog-image{
    height: 24rem !important;
    width:  100% !important;
}
@media screen and (max-width: 960px) {
    .blog-details .blog-image{
        height: 18rem !important;
        width:  100% !important;
    }
}
form button{
    background-color: var(--liteSecondColor) !important;
    z-index: 1;
}