.contact-icons{
    position: fixed;
    left: 3vh;
    bottom: 6vh;
    display: flex;
    flex-direction: column;
    z-index: 111
}
.social-icons{
    position: fixed;
    right: 3vh;
    bottom: 6vh;
    display: flex;
    flex-direction: column;
    z-index: 111;
}

.contact-icons a, .social-icons a{
    width: 36px;
    height: 36px;
    margin: 8px 0;
    font-size: 16px;
    display: inline-block;
    text-align: center;
    line-height: 36px;
    border-radius: 50%;
    transition: all .3s;
    color: var(--whiteColor);
    background-color: var(--secondColor);
    box-shadow: 0px 3px 5px rgb(119 119 119 / 59%);
    transition: all .3x;
}

.contact-icons a:hover, .social-icons a:hover{
    background-color: var(--mainColor);
    color: var(--whiteColor);
    
    transform: scale(1.1);
}
